*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #ecf0f1;
  font-family: "cerebri_sans_proregular", "sans-serif";
  font-size: 18px;
  overflow-x: hidden;
  background-color: #2c3e50;
}

.main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 2rem;
  overflow: hidden;
}
@media (min-width: 600px) {
  .main {
    padding: 0 4rem;
    overflow: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "neo-sans", "Helvetica Neue", Helvetica, Arial;
  margin: 0 0 2.5rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-family: "cerebri_sans_proregular", "sans-serif";
}

a,
a:visited {
  color: #74b9ff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #a29bfe;
}

code {
  @apply .bg-gray-300;
  @apply .px-2;
  @apply .py-px;
  @apply .rounded;
  @apply .text-sm;
}

code.hljs {
  @apply .bg-transparent;
  @apply .p-0;

  .hljs-comment,
  .hljs-keyword,
  .hljs-meta {
    @apply .font-normal;
    @apply .not-italic;
  }
}

pre {
  @apply .bg-gray-200;
  @apply .leading-loose;
  @apply .my-6;
  @apply .overflow-x-auto;
  @apply .p-4;
  @apply .rounded;
  @apply .shadow;
  @apply .text-base;

  code {
    @apply .bg-transparent;
    @apply .block;
    @apply .p-0;
  }
}

::selection {
  @apply .bg-blue-500;
  @apply .text-white;
}
